.card {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1.5rem;
  color: rgb(12, 20, 37);

  border-radius: 0.8rem;
  padding: 1.7rem 1.7rem;

  border-radius: 0.8rem;
}

.icon {
  color: var(--card-color);
  border-radius: 50%;
  background-color: var(--card-background-color);
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardIcon {
  width: 2rem;
  height: 2rem;
}

.cardInner {
  font-size: 1.125rem;
}

.cardInner h3 {
  font-size: 1.125rem;
}

.cardCount {
  line-height: 1;
  font-size: 1.35rem;
}

.cardTitle {
  color: rgb(176, 178, 190);
  font-size: 1rem;
}
