.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Makes it responsive */
  background-color: rgb(255, 255, 255);
  padding: 1rem;
}

.icon {
  color: rgb(129, 62, 225);
  border-radius: 50%;
  background-color: rgb(242, 235, 252);
  padding: 0.75rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardIcon {
  width: 2rem;
  height: 2rem;
}

.cardInner {
  font-size: 1.125rem;
  margin: 0;
}

.cardInner h3 {
  font-size: 1.125rem;
  margin: 0;
}
